// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     12px !default;

// Colors
$white:             #fff;
$black:             #1d1d1f;

// Styles
$text_color:        $black;

// Font stack
$body-font: "SF Pro Text", "SF Pro Display", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif !default;

// The base body size
$body-font-size: 16px !default;

// Monospace font stack
$mono-font: "SF Mono", Menlo, Consolas, "Liberation Mono", Courier, monospace !default;
